body{
	color:black;
	font-family: Optima, Segoe, Sans-serif;
	max-width: 80%;
	margin: 0 auto;
}
a{
	text-decoration: none;
	color: black;
}
#navigation{
	max-width:940px;
	padding: 10px;
	padding; 0 5%;
	display:flex;
	justify-content: center;

}
#navigation li{
	padding-right:20px;
}

#lvlNotifyText{
	color:lime;
}
header{
	text-align: center;
	margin:0;
	background-color: #369;
	margin: 0 0 0 0;
	padding:5px 0 0 0;
}
footer{
	text-align: center;
	clear:both;
}
/* Home page */

.characterSheet{
	background-color: #ff6;
	border: 2px solid black;
	display:flex;
	width:99.9%;
	justify-content: space-between;

}
.characterSheet section{
	margin-left: 15px;
	display:flex;

}
.portaitContainer{
	display: flex;
	width:30%;
}

#charPortrait{
	max-height: 250px;
}

.portraitblock{
	flex-direction: column;
}

#statsUP{
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	flex-wrap: wrap;
	height: 156px;

}

/* Combbat page */
.combatText{
	border: 3px solid grey;
	height:300px;
	width: 100%;
	background-color: lightgrey;
	overflow: scroll;
}
.combatText p{
	padding-left: 10px;
}
.VS_stage{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 400px;
}
.combatGif{
  height: 250px;
  border: 1px solid black;

}

/*  css for New Char */

.newProfileContainer{
	display: flex;
	justify-content: space-between;

}

#gifContainer{
  background-color: #abbbbb;
  display: flex;
  list-style: none;
  margin:2.5px 5px;
  flex-wrap: wrap;
  justify-content: space-between;
  clear: both;

}
.gifListContainer{
 list-style: none;
 margin:2.5px 5px;
 min-width: 220px;
 height: 220px;
}
.gif{
  min-height: 200px;
  width:200px;
  border: 1px solid black;
}

#playerGif{
  min-height: 200px;
  width:200px;
  border: 1px solid black;
}
